.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.formDiv {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 0.3rem;
    width: 30vw;
}

.form input {
    border: none;
    padding: 0.5rem;
}

.form hr {
    width: inherit;
    border-color: rgba(204, 204, 204, 0.39);
}

.passwordHelp, .formVerify {
    font-size: 0.8rem;
}

.passwordHelp {
    color: rgb(173, 173, 173);
}

.formVerify {
    color: rgb(226, 33, 33);
    visibility: hidden;
}

.formButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.passBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
}

.weakDiv, .midDiv, .strongDiv {
    text-align: center;
    border-top: solid;
    width: 30%;
    font-size: 0.9rem;
    color: rgb(173, 173, 173);
    font-weight: bold;
    visibility: hidden;
}

.weakDiv {
    border-color: rgb(255, 112, 41);
}

.midDiv {
    border-color: rgb(255, 230, 0);
}

.strongDiv {
    border-color: rgb(45, 204, 45);
}

.redirect {
    color: rgb(54, 130, 143);
    text-shadow: rgba(0, 0, 0, 0.071) 1px 1px 3px;
    font-size: 0.9rem;
    text-decoration: none;
    margin-top: 0.5rem;
}