.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form div {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 0.8rem;
    width: 30vw;
}

.form input {
    border: none;
    padding: 0.5rem;
}

.form hr {
    width: inherit;
    border-color: rgba(204, 204, 204, 0.39);
}

.form .passwordHelp {
    font-size: 0.8rem;
    color: rgb(173, 173, 173);
}

.form .formButtons {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}